html,body{
	padding: 0;
	background-color: white;
}
@font-face {
  font-family: 'headers';
  src: url('proxima.ttf') format('ttf');
}
@font-face {
  font-family: 'ptags';
  src: url('ProximaSoftLight.ttf') format('ttf');
}
@font-face {
  font-family: 'icons';
  src: url('Poppins-Light.ttf') format('ttf');
}
h1,p{
	line-height: 45px;
}
.no-padding{
	padding:0px;
}
.navigation{
	display:flex;
	flex-direction: row;
	padding: 30px;
	justify-content: center;
	z-index: 5;
	overflow: hidden;
}
.navigation div{
	flex-grow: 1;
	text-align: center;
	cursor: pointer;
}
.login{
	background:url('./assets/loginButton.png');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 90px;
    height: 30px;
}
.more:before{
	content: url('./assets/Arrow.png');
	margin-right: 10px;
	padding: 10px;
}
.signup{
	background-color: white;
	border-radius: 25px;
	border: 1px solid blue;
	color: blue;
	text-align: center;
	padding: 3px 35px;
	cursor: pointer;
}
.signup:hover{
	background-color: blue;
	color: white;
}
.icons,.blank-icons{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	justify-content: center;
}
.row{
	padding-bottom: 100px;
}
.icons img{
    margin: 0 auto;
}
.icons p{
	font-size: 10px;
}
.icons div{
	padding: 0 40px 0 40px;
	text-align: center;
}
.selected-icon{
	position: relative;
}
.back{
	content: url('./assets/Rollover.png');
}
.top{
	position: absolute;
	z-index: 2;
	top:20px;
	left:105px;
}
.middle-bit{
	display: flex;
	align-items: center;
}
.blank-icons div{
	padding: 40px;
}
.image-bubble{
	position: relative;
	overflow: hidden;
}
.blob{
	content: url('./assets/Bg.png');
	float: right;
	margin-right: -30px;
	overflow: hidden !important;
	z-index: 100;
}
.ut{
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
	overflow: hidden !important;
}
.house{
	position: absolute;
	top: 270px;
	right:5px;
	z-index: 1;
	overflow: hidden !important;
}

.nike{
	position: absolute;
	top: 540px;
	right: 5px;
	z-index: 1;
	overflow: hidden !important;
}
.health{
	position: absolute;
	top: 5px;
	right: 340px;
	overflow: hidden;
	z-index: 1;
	overflow: hidden !important;
}
.jims{
	position: absolute;
	top: 270px;
	right: 340px;
}
.smile{
	position: absolute;
	top: 540px;
	right: 340px;
}
.nike2{
	position: absolute;
	top: 810px;
	right: 5px;
	z-index: 1;
	overflow: hidden !important;
}.house2{
	position: absolute;
	top: 810px;
	right: 340px;
	z-index: 1;
	overflow: hidden !important;
}





