html,body{
	margin:0;
	padding: 0;
	background-color: white;
}
@font-face {
  font-family: "headers";
  src: url('./assets/proxima.ttf') format('truetype');
}
@font-face {
  font-family: "ptags";
  src: url('./assets/light.ttf') format('truetype');
}
@font-face {
  font-family: "icons";
  src: url('./assets/poppins.ttf') format('truetype');
}

h1,p{
	line-height: 45px;
	font-family: 'ptags', san-serif;  
}
h1{
	font-weight: bold;
}
.no-padding{
	padding:0px;
}

.row{
	padding-bottom: 100px;
}

.navigation{
	display:flex;
	flex-direction: row;
	padding: 30px;
	justify-content: center;
	z-index: 5;
	overflow: hidden;
}

.navigation div{
	flex-grow: 1;
	text-align: center;
	cursor: pointer;
	font-family: 'headers'
}

.navigation div:hover{
	text-decoration: underline;
	color: turquoise;
}

.login{
	background:url('./assets/loginButton.png');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 90px;
    height: 30px;
}

.more:before{
	content: url('./assets/Arrow.png');
	margin-right: 10px;
	padding: 10px;
}

.signup{
	background-color: white;
	border-radius: 25px;
	border: 1px solid turquoise;
	color: turquoise;
	text-align: center;
	padding: 3px 35px;
	cursor: pointer;
	font-family: 'icons';
	font-weight:bold;
	box-shadow: 0 2px 7px 0 turquoise, 0 3px 3px 0 turquoise;
}

.signup:hover{
	background-color: turquoise;
	color: white;
	transform: translateY(-3px);
	font-weight: bold;
}

.icons,.blank-icons{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	justify-content: center;
	cursor: pointer;
}

.icons img:hover,.blank-icons img:hover{
	height: 72px;
	width: 72px;
	transform: translateY(-10px);
}

.icons img{
    margin: 0 auto;
}

.icons p{
	font-size: 12px;
	font-family: 'icons'
}

.icons div{
	padding: 0 40px 0 40px;
	text-align: center;
}

.selected-icon{
	position: relative;
}

.back{
	content: url('./assets/Rollover.png');
}

.top{
	position: absolute;
	z-index: 2;
	top:20px;
	left:105px;
}

.middle-bit{
	display: flex;
	align-items: center;
}

.blank-icons div{
	padding: 40px;
}

.image-bubble{
	position: relative;
}

.blob{
	content: url('./assets/Bg.png');
	float: right;
}

.ut{
	position: absolute;
	top: 5px;
	right: 5px;
}

.house{
	position: absolute;
	top: 270px;
	right:5px;
}

.nike{
	position: absolute;
	top: 540px;
	right: 5px;
}

.health{
	position: absolute;
	top: 5px;
	right: 300px;
	width: 340px;
	clip: rect(-2px, 286px, 252px, 11px);
	border-top-left-radius: 100%; 
}

.jims{
	position: absolute;
	top: 270px;
	right: 340px;
}

.smile{
	position: absolute;
	top: 540px;
	right: 340px;
}

.nike2{
	position: absolute;
    top: 810px;
    right: 40px;
    width: 290px;
    clip-path: inset(0 0 74px 0);
    border-bottom-right-radius: 100%;
    clip: rect(7px, 313px, 270px, 13px);
}

.house2{
	position: absolute;
    top: 810px;
    right: 342px;
    width: 272px;
    height: 199px;
    clip-path: inset(0 0 34px 0);
    clip: rect(-2px, 304px, 259px, 10px);
    border-bottom-left-radius: 100%;
}

.mobile-blob{
	display: none;
}

@media screen and (max-width: 600px) {
  	.navigation{
  		display: none;
  	}
  	.center-mobile{
  		text-align: center;
  	}
  	.icons,.blank-icons{
  		flex-direction: column;
  		align-items: center;
  	}
  	.image-bubble{
  		display: none;
  	}
  	.mobile-blob{
  		display: flex;
  		margin-top: 40px;
  	}
  	.mobile-row{
  		flex-direction: row;
  		justify-content: center;
  	}
  	.mobile-row img{
  		width: 100%;
  	}
}




